.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 60px;
    background: linear-gradient(to bottom right, #7abec9, #014254);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.headerRight {
    display: flex;
    align-items: center;
}

.button {
    margin-right: 10px;
    padding: 10px 18px;
    background-color: white;
    color: #005f7a;
    border: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s;
}

.button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.profile {
    position: relative;
}

.profileButton {
    padding: 10px 18px;
    background-color: white;
    color: #005f7a;
    border: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s;
}

.profileButton:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #7abec9;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.dropdown button {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.dropdownItem {
    display: block;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #005f7a;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}

.header:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}