
  .page{
  }
  
  .sidebar {
      height: 100%;
      width: 13%;
      position: fixed;
      top: 1%;
      bottom: 1%;
      left: 1%;
      background: #7abec9;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 25px;
      padding-left: 5px;
  }
  
  .page h1 {
    font-size: 22px;
  }

  .page h2 {
    font-size: 16px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 15%;
    height: 100%;
    width: 85%;
  }

  .data_entry {
    top: 1%;
    bottom: 1%;
    left: 1%;
    padding-left: 5px;
    padding-bottom: 10px;
    flex: 1;
    border-radius: 25px;
    border: 2px solid #7abec9;
  }

  .graph {
    flex: 1;
    top: 1%;
    bottom: 1%;
    left: 1%;
    padding-left: 5px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: 2px solid #7abec9;
    margin-top: 10px;
  }

  .readings_table, .readings_table th, .readings_table td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
  }

  .entry_form {
    display: inline;
  }